<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/main.css}">
    <title>demoCatShop</title>
</head>
<body>
    <div th:replace="~{layouts/header :: header}"></div>
    <div class="presentation">
        <img src="https://club.foto.ru/gallery/images/preview/2011/02/17/1719742.jpg" alt="Cat">
        <h2>Bucket of kittens</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cumque dolor fugit iste
            perferendis quasi quis unde veniam vero.</p>
    </div>
    <main class="container">
        <div class="items" th:if="${!items.isEmpty()}">
            <div th:each="el : ${items}">
                <img th:src="${el.img}" th:alt="${el.title}">
                <h3 th:text="${el.title}"/>
                <p th:text="${el.info}"/>
                <span th:text="${el.price} + '$'"/>
            </div>
        </div>
        <div class="block" th:if="${items.isEmpty()}">
            <p>There is no good in stock</p>
        </div>
    </main>
    <div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>